.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    width: 100;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 0 0 18px 18px;
    box-shadow: 0px 2px 12px -4px #2c2c2c;

    h1{
        color: rgb(226, 0, 41);
        font-size: 36px;
        font-weight: 700;

        span{
            color: rgb(0, 107, 174);
        }
    }
    p{
        color: rgb(0, 107, 174);
        font-weight: 500;
        font-size: 20px;
    }
}

.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    gap: 2px; /* Gap between grid cells */
    z-index: -5;
    background: #f5f5f5;
  }
  
  .grid-background::before {
    content: '';
    display: block;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background: repeating-linear-gradient(90deg, #e2e2e2, #e2e2e2 1px, transparent 1px, transparent 20px),
      repeating-linear-gradient(180deg, #e2e2e2, #e2e2e2 1px, transparent 1px, transparent 20px);
  }